/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Fondo gris */
}

/* Encabezado */

header {
    background-color: #2c0038; /* Morado oscuro */
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff; /* Blanco */
    text-decoration: none;
}

/* Sección de créditos */

#creditos {
    background-color: #fff; /* Blanco */
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#creditos h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

#creditos p {
    color: #666;
}

/* Sección de redes sociales */

#redes-sociales {
    background-color: #fff; /* Blanco */
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#redes-sociales h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

#redes-sociales ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#redes-sociales li {
    margin-bottom: 10px;
}

#redes-sociales a {
    text-decoration: none;
    color: #337ab7;
}

/* Sección de privacidad y soporte */

#privacidad-soporte {
    background-color: #fff; /* Blanco */
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#privacidad-soporte h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

#privacidad-soporte p {
    color: #666;
}

/* Sección de publicaciones */

#publicaciones {
    background-color: #fff; /* Blanco */
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#publicaciones h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

#publicaciones article {
    margin-bottom: 20px;
}

#publicaciones h3 {
    font-size: 18px;
    color: #7a288a; /* Morado neón */
}

#publicaciones p {
    color: #666;
}

#publicaciones img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Sección de post del canal */

#post {
    background-color: #fff; /* Blanco */
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#post h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

#post article {
    margin-bottom: 20px;
}

#post h3 {
    font-size: 18px;
    color: #7a288a; /* Morado neón */
}

#post p {
    color: #666;
}

#post img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Sección de servidores */

#servidores {
    background-color: #fff; /* Blanco */
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,
